.navbar {
  background-color: #262523;
  height: 103px;
  display: flex;
  padding-left: 120px;
  /* justify-content: center; */
  align-items: center;
  /* font-size: 1.2px; */
  /* position: sticky; */
  top: 0;
  z-index: 999;
}
.boder {
  border-width: 1px;
  border-color: 'black';
}
.cards__item__img {
  /* position: absolute; */
  /* top: 0; */
  /* right: 0; */
  /* bottom: 0; */
  /* left: 0; */
  display: block;
  /* width: 3%; */
  /* max-width: 100%; */
  /* height: 3%; */
  /* max-height: 100%; */
  /* object-fit: cover; */
  /* transition: all 0.2s linear; */
}
.nav-Login {
  /* paddingLeft: '20%', */
  /* padd */
  /* height: 100%; */
  /* width: 100%; */
  /* flex: 1; */
  /* display: flex; */
  /* background-color: 'pink'; */
  /* justify-content: center; */
  /* align-items: center; */

  /* padding-left: 20px; */

  /* paddingTop: '10%', */
  flex: 1;
  /* // display: 'flex', */
  /* alignItems: 'center', */
  /* justifyContent: 'center', */
}

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 80px; */
  /* max-width: 1500px; */
}

.navbar-logo {
  color: #fff;
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
}

.fa-typo3 {
  margin-left: 0.5rem;
  font-size: 1.8rem;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(9, auto);
  grid-gap: 10px;
  list-style: none;
  /* background-color: #262523; */
  text-align: center;
  width: 70vw;
  justify-content: end;
  margin-right: 2rem;
  margin-left: 2rem;
}

.nav-item {
  height: 40px;
  /* display: flex; */
  /* background-color: #242424; */
}
.nav-serach {
  width: 30vw;
  margin-left: 2rem;
  flex-direction: row;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  background-color: #fff;
}
.nav-links {
  color: #fff;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  text-decoration: none;
  padding: 1rem 1rem;
  height: 100%;
}
.nav-link {
  color: #fff;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  /* text-decoration: none; */
  padding: 0;
  height: 100%;
}
.img-main {
  padding-left: 100px;
  /* display: flex; */
  /* align-self: ; */

  /* width: auto; */
  flex: 1;
  /* background-color: 'pink'; */
  /* align-items: center; */
  padding-right: 100px;
}

.button:disabled {
  background-color: grey;
}
.button:hover {
  background-color: #000;
  /* color: #f7c17c; */
}
.button {
  width: 20%;
  margin-left: 210px;
  height: 10%;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  display: flex;
  color: #fff;
  border-color: #fff;
  background-color: #d80000;
}
.nav-Delivered {
  height: 10vh;
  width: 20vh;
  /* background-color: ; */
}

.nav-links:hover {
  background-color: #f7c17c;
  border-radius: 20px;
  color: #fff;
}
.nav-text {
  color: #fff;
  font-weight: 200;
}
.nav-butn {
  /* borderWidth: 0, */
  background-color: #f7c17c;
  height: 6vh;
  display: flex;
  width: 12vh;
  justify-content: center;
  align-items: center;

  /* height: '100%', */
  /* width: '20%', */
}
.fa-bars {
  color: #fff;
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 960px) {
  .NavbarItems {
    position: relative;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #262523;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    color: #262523;
    display: table;
  }

  .nav-links:hover {
    background-color: #fff;
    color: #242424;
    border-radius: 0;
  }

  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: #fff;
    font-size: 2rem;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: transparent;
    color: #fff;
    padding: 14px 20px;
    border: 1px solid #fff;
    transition: all 0.3s ease-out;
  }

  .nav-links-mobile:hover {
    background: #fff;
    color: #242424;
    transition: 250ms;
  }
}
.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 20;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  border-radius: 20;

  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

/* .navbar a:hover, */
.dropdown:hover .dropbtn {
  background-color: #f7c17c;
  border-radius: 20;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
